.git
.github
.vscode
.idea
.env
.env.docker
.phpunit.result.cache
node_modules
vendor
public/build
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
docker-compose.*.yml
README.md
PRODUCTION_GUIDE.md
dockerfile
.dockerignore
.config
